body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
}
body{
	background-color: #00bffe;
}
.main{
	min-width:320px;
	margin:0 auto;
	max-width:640px;
	position: relative;
}
.full{width: 100%;}
.btnHfcx{
	position: absolute;
	width:44%;
	left:29%;
	top: 59%;
}
.btnLlcx{
	position: absolute;
	width:44%;
	left:29%;
	top: 69%;
}
.btnJfcx{
	position: absolute;
	width:44%;
	left:29%;
	top: 79%;
}