body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
}
body{
	background-color: #FFFFFF;
}
.main{
	min-width:320px;
	margin:0 auto;
	max-width:640px;
	position: relative;
}
.full{width: 100%;}

.name{
    width: 60%;
	position: absolute;
	top:54%;
	left:24%;
    font-size: 16px;
    height: 28px;
    background-color: #ffffff;
    border:1px solid #f3fafa;
	border-radius:4px;
    text-align: center;
	color:#000000;
}
.phone{
    width: 60%;
	position: absolute;
	top:64%;
	left:24%;
    font-size: 16px;
    height: 28px;
    background-color: #ffffff;
    border:1px solid #f3fafa;
	border-radius:4px;
    text-align: center;
	color:#000000;
}
.tj{
    width: 62%;
	position: absolute;
	top:71%;
	left:23%;
}
