@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;padding: 0;font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;  list-style: none;
}
input{-webkit-appearance: none;resize: none;}
input{border: none;outline: none;}
ul,ol,li{list-style: none;}
a{outline-style:none;text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
::-moz-placeholder { color: #002248;}
::-webkit-input-placeholder { color:#002248;}
:-ms-input-placeholder { color:#002248;}
*{box-sizing: border-box;}
.page{overflow: hidden;margin: 0 auto;min-width: 320px;max-width: 640px;min-height: 100px;}
.main{background:#98e8ff url("../images/bj01.png") no-repeat center top;background-size:100% auto;}
.xzhm{background:#98e8ff;}
.fx{background: #ebe2bb;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.main img{width: 80%;display:block;margin: 90% auto 0 auto;}
.main-btn{display:block;width: 60%;margin:133% auto 13% auto;background: #e33304;border-radius: 6px;padding: 1% 0;color: #fff;text-align: center;font-weight: bold;}
.img-top{width: 90%;margin: 5% 0 0 5%;}
.lx{width: 80%;margin: 0 0 0 10%;}
.lx>img{width: 100%;}
.hm{width: 80%;margin: 3% 0 5% 10%;}
.hm-top img{width: 100%;}
.hm-buttom img{width: 100%;}
.hm-con{background: url("../images/pic04.png") repeat-y;background-size: 100% auto;padding: 0 5% 0 5%;margin-top: -1.8%;}
.hm-con ul{height: auto;padding: 0.1% 0;}
.hm-con ul li span{display:inline-block;width: 48%;background: #98e8ff;text-align: center;margin-left: 4%;border-radius: 8%;padding: 1% 0;}
.hm-con ul li label{display:inline-block;width: 35%;background: #f39800;margin-left: 10%;text-align: center;color: #fff;font-weight: bold;border-radius: 8%;padding: 1% 0;cursor: pointer;}
.hm-con ul li{margin: 5% 0;}
.hm-con ul li:first-child{margin: 1% 0;}
.hm-con ul li:last-child{margin: 1% 0;}
.nav-div{width: 90%;margin: 7% 0 5% 5%;background: url("../images/pic07.png") no-repeat center top;background-size: 100% 100%;padding: 4% 0 0 2.5%;}
.lx-list{width: 20%;margin: 4% 2%;float: left;}
.lx-list h3{width: 100%;text-align: center;}
.lx-list img{width: 100%;margin-top: 7%;}
.btn-gz{width: 22%;float: right;margin-right: 10%;margin-top: -3%;}

.dengji{width: 76%;margin: 0 0 5% 12%;background: #fff;border-radius: 8px;padding: 7% 0 2% 0;}
.dengji p{padding-left: 7%;padding-bottom: 1%;}
.dengji input{display:block;width: 88%;margin:0 auto 5% auto;text-align: center;border-radius: 7px;padding: 1.5% 0;background: #98e8ff;}
.quxian{display:block;width: 88%;margin:0 auto 5% auto;text-align: center;border-radius: 7px;padding: 1.5% 0;background: #98e8ff url("../images/pic09.png") no-repeat 90% center;background-size:6% auto;color: #002248;}
.btn-tijiao{display:block;width: 60%;margin:6% auto 3% auto;background: #e33304;border-radius: 6px;padding: 1% 0;color: #fff;text-align: center;font-weight: bold;}
.fx-img1{width: 85%;margin: 4% 0 0 5%;}
.fx-ewm{display:block;width: 50%;margin: 5% auto 3% auto;}
.fx-text{margin-bottom: 5%;}
.fx-text p{text-align: center;padding: 0.5% 0;color: #003e50;}
.fx-span1{color: #1ab9cc;font-weight: bold;}
.fx-span2{color: #ff0000;font-weight: bold;}
.fx-span3{color: #a30200;}
.pop-bj{width: 100%;height: 100%;position: fixed;top:0;left:0;background: #000;opacity: 0.7;filter: alpha(opacity=70);z-index: 10;}
.pop-con{position: absolute;top:20%;left:8%;background: #fff;width: 84%;z-index: 11;border-radius: 5px;padding: 4% 0 0 0;}
.pop-con h3{width:92%;margin-left:4%;font-weight: bolder;padding: 0 0 2% 2%;border-bottom: 1px solid #c9c9c9;}
.pop-con ul{display: block;overflow-y: auto;overflow-x: hidden;padding: 3% 5% 2% 3%;margin: 0 4% 0 4%;}
.pop-con ul li{padding: 0.5% 0;text-align: justify;}
.pop-btn{display:block;width: 94%;margin:2% auto 2% auto;background: #35A8EA;border-radius: 5px;padding: 1.4% 0;color: #fff;text-align: center;}

.select_magistrate{position: fixed;z-index:1000;width:80%;margin-left:-40%;top: 50%;left: 50%;background-color: rgba(255,255,255,1);border-radius: 5px;}
.select_magistrate ul{;margin: 0 auto;padding: 6px 20px;}
.select_magistrate ul li{text-align: center;font-size: 18px;border-bottom: 1px solid #dcdcdc;padding: 2% 0;}
.select_magistrate ul li:last-child,.select_type ul li:last-child{border: none;}
.select_bj{top: 0; left: 0; width: 100%; height: 100%; position: fixed; display: none;z-index: 999; background-color: rgb(0, 0, 0); opacity: 0.6;filter:alpha(opacity=60);}
@media only screen and (min-width:320px){
    .page p,.copyright{font-size:12px!important}.viewport{max-width:320px}
    .main input,.fx-text p,.hm-con ul li,.lx-list h3,.pop-con h3,.select_magistrate ul li{font-size:14px!important}.viewport{max-width:320px}
    .page a{font-size:15px!important}.viewport{max-width:320px}
    .pop-btn,.dengji p{font-size:13px!important}.viewport{max-width:320px}
}
@media only screen and (min-width:360px){
    .page p,.copyright{font-size:14px!important}.viewport{max-width:320px}
    .main input,.fx-text p,.hm-con ul li,.lx-list h3,.pop-con h3,.select_magistrate ul li{font-size:17px!important}.viewport{max-width:320px}
    .page a{font-size:18px!important}.viewport{max-width:360px}
    .pop-btn,.dengji p{font-size:15px!important}.viewport{max-width:320px}
}
@media only screen and (min-width:480px){
    .page p,.copyright{font-size:18px!important}.viewport{max-width:320px}
    .main input,.fx-text p,.hm-con ul li,.lx-list h3,.pop-con h3,.select_magistrate ul li{font-size:20px!important}.viewport{max-width:320px}
    .page a{font-size:20px!important}.viewport{max-width:480px}
    .pop-btn,.dengji p{font-size:17px!important}.viewport{max-width:320px}
}
